/* NAVBAR */

.navbar {
    background: var(--clr-secondary);

    display: flex;
    justify-content: space-between;

    gap: min(.2rem, 5vw);

    box-sizing: border-box;
    padding: min(.5rem, 5vw);
    border-radius: 50px;

    margin-inline: auto;
}

.btn-navbar {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: min(.6rem, 5vw);
    background: transparent;

    border-radius: inherit;
    border: none;

    font-weight: bold;
    color: gray;
    letter-spacing: 0.03rem;
}

.btn-navbar:hover, .btn-navbar-active {
    background: var(--clr-accent);
    color: var(--clr-primary);
}