:root {
    --clock-size: min(20rem, 70vw);
    --clock-border-size: min(1.5rem, 20px);
    --progress: 0%;
}

.clock-container {
    border-radius: 50%;

    box-sizing: border-box;
    padding: min(.5rem, 5vw);
    border: var(--clock-border-size) solid var(--clr-secondary);
}

.clock-outter {
    height: var(--clock-size);
    width: var(--clock-size);

    position: relative;
    margin-inline: auto;
}

.clock-outter::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.2) 0%,
        rgb(0, 0, 0) 100%
    );
    filter: blur(80px);
    height: calc(var(--clock-size));
    width: calc(var(--clock-size));
    border-radius: 50%;

    z-index: -100;
}

.clock-inner {
    position: absolute;
    background: conic-gradient(
        var(--clr-accent) var(--progress),
        var(--clr-secondary) var(--progress)
    );

    height: var(--clock-size);
    width: var(--clock-size);
    border: none;
    border-radius: 50%;

    display: grid;
    place-content: center;

    animation: rotation 10s linear infinite;
    transition: background 1000ms linear;

    font-size: min(5rem, 15vw);
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
}

.clock-text-container {
    display: flex;
    flex-direction: column;
    gap: min(1rem, 3vw);
}

.clock-inner span {
    font-size: min(1.2rem, 3vw);
    margin-inline: auto;
    color: var(--clr-accent2);
}

.clock-inner .total-time {
    font-size: min(1.2rem, 5vw);
    margin-inline: auto;
}

.clock-inner .pause {
    letter-spacing: 1rem;
}

.clock-inner::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: var(--bg);
    height: calc(var(--clock-size) - var(--clock-border-size));
    width: calc(var(--clock-size) - var(--clock-border-size));

    border-radius: 50%;
    z-index: -1;
}
